In [73]:
import pandas as pd
import random, json

In [65]:
# splits dataset into train-val-test
def split_dataset(data):
    random.seed(1234)
    train, val, test = [], [], []
    test_size = int(len(data) * 0.2)
    test = random.sample(data, test_size)
    
    # split into train and val
    train = [x for x in data if x not in test]
    val_size = int(len(train) * 0.2)
    val = random.sample(train, val_size)
    train = [x for x in train if x not in val]
    
    print('Train Size: {0} Val Size: {1} Test Size: {2}'.format(len(train), len(val), len(test)))
    return train, val, test

### BFW

In [6]:
df = pd.read_csv('../../bfw-v0.1.5-datatable.csv')
df.head()

,fold,p1,p2,label,id1,id2,att1,att2,vgg16,resnet50,senet50,a1,a2,g1,g2,e1,e2
0,1,asian_females/n000009/0010_01.jpg,asian_females/n000009/0043_01.jpg,1,0,0,asian_females,asian_females,0.820039,0.703258,0.679089,AF,AF,F,F,A,A
1,1,asian_females/n000009/0010_01.jpg,asian_females/n000009/0120_01.jpg,1,0,0,asian_females,asian_females,0.719199,0.523613,0.594268,AF,AF,F,F,A,A
2,1,asian_females/n000009/0010_01.jpg,asian_females/n000009/0122_02.jpg,1,0,0,asian_females,asian_females,0.732029,0.527567,0.643680,AF,AF,F,F,A,A
3,1,asian_females/n000009/0010_01.jpg,asian_females/n000009/0188_01.jpg,1,0,0,asian_females,asian_females,0.607093,0.348211,0.458883,AF,AF,F,F,A,A
4,1,asian_females/n000009/0010_01.jpg,asian_females/n000009/0205_01.jpg,1,0,0,asian_females,asian_females,0.629153,0.384273,0.494913,AF,AF,F,F,A,A

In [20]:
images = {}
for i, row in df.iterrows():
    if row['p1'] not in images: images[row['p1']] = {}
    images[row['p1']]['race'] = row['e1']
    images[row['p1']]['gender'] = row['g1']

In [70]:
train, val, test = split_dataset(images.keys())
for i in train:
    images[i]['split'] = 'train'

for i in val:
    images[i]['split'] = 'val'
    
for i in test:
    images[i]['split'] = 'test'

Train Size: 12288 Val Size: 3072 Test Size: 3840

In [74]:
with open('bfw_annotations.json', 'w') as file:
    json.dump(images, file)

## RFW